<code><% for (var i = 0, l = sections.length; i<l; i++) { %><section><% var section = sections[i]; %><div class="code-tip"><div><%= section.docsHtml %></div></div><%= section.codeHtml %></section><% } %></code>