body.changelog {
  max-width: 640px;
  margin: 0 auto;

  .main-content h2 {
    width: auto;
    max-width: 100%;
  }

  .features {
    width: auto;
    max-width: 100%;
  }

  > header {
    border-top: none;
  }

  header h1 {
    text-align: center;
  }
}
