@import 'bourbon/bourbon';

$h-font: 'Signika', sans-serif;
$p-font: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
$code-font: 'Inconsolata', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;

$content-width: 40%;
$code-editor-width: 58%;

$content-max-width: 1400px * 0.4;
$code-editor-max-width: 1400px * 0.58;

@include keyframes(popIn) {
  50% {
    opacity: 0;
    @include transform(scale(0) translateZ(0));
  }
  to {
    opacity: 1;
    @include transform(scale(1) translateZ(0));
  }
}

@include keyframes(popOut) {
  from {
    opacity: 1;
    @include transform(scale(1) translateZ(0));
  }
  50% {
    opacity: 0;
    @include transform(scale(0) translateZ(0));
  }
}

* { @include box-sizing(border-box); }

body {
  font-size: 1.3em;
  font-family: $p-font;
  margin: 0;
  padding: 0;
  @include background-image(linear-gradient(-45deg, #DED5BA, #E0AEAE));
  color: #222;
}

a {
  color: #c00;
  font-weight: bold;
}

pre, code {
  font-family: $code-font !important;
}

span.hide {
  display: none;
}

code {
  .highlight {
    color: rgba(255,255,255,0.9);
  }

  .class {
    color: #D57CD5;
  }

  .keyword {
    color: #ffcc64;
  }

  .string {
    color: #90d8e3;
  }

  .fn {
    color: #6aade0;
  }

  .var {
    color: #F3712B;
  }
  .comment {
    color: rgba(255,255,255,0.3);
  }
}

.hljs-function .hljs-keyword, .hljs-property { color: #FFCC64; }

.hljs-string, .hljs-value { color: #90D8E3; }

.hljs-keyword, .hljs-title { color: #D57CD5; }

.hljs-literal { color: #6AADE0; }

.hljs-object-key, .hljs-attribute { color: #F3712B; }

.hljs-comment, .hljs-background-line { color: rgba(255,255,255,0.3); }

.hljs-function .hljs-title { color: #fff; }

.hljs-hide { display: none; }

.inline-code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #DDD;
  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;
  font-size: 14px;
  padding: 3px 6px;
  border: 1px #E7CBC5 solid;


  &.dark {
    color: #fff;
    background: #494f57;
  }
}

.block-code {
  margin: 8px 2px;
  padding: 0px 5px;
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  border-radius: 3px;
  font-size: 14px;
  display: block;
  color: #fff;
  background: #494f57;
  padding: 5px 10px;
  overflow: auto;

  code {
    margin: 0;
    padding: 0;
  }

  &.hide {
    display: none;
    opacity: 0;
  }

  &.show {
    display: block;
  }
}

.inline-code.hide {
  display: none;
}

.inline-code.show {
  display: inline;
}

.build-status {
  display: none;
  position: absolute;
  top: 107px;
  margin-left: 30%;
  margin-left: calc($content-width - 80px);
}

body > header {
  padding-top: 10px;
  padding-left: 2%;
  border-top: 2px rgb(204, 0, 0) solid;

  h1 {
    margin: 0 auto;
    height: 158px;
    img {
      max-width: 100%;
    }
  }
}

.special-notice {
  font-family: 'Signika', sans-serif;
  font-size: 1em;
  color: #FFF;
  border: 2px #8B0000 dotted;
  padding: 0.4em;
  width: 40%;
  max-width: 560px;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 3px;
  margin-left: 2%;
  background-color: #D61F1F;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);

  a { color: #fff; }

  hr {
    border: 0;
    border-top: 1px rgba(0,0,0,0.3) solid;
  }
}

@media screen and (max-width: 960px) {
  .special-notice {
    width: 95%;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.main-content {
  @include background-image(linear-gradient(#ccc, #f5f5f5));
  background: rgba(255, 255, 255, 0.5);
  border-top: 2px rgba(0, 0, 0, 0.15) solid;
  border-bottom: 2px #bbb solid;
  padding: 40px 10px;
  margin-top: -41px;
  // padding-bottom: 200px;
  box-shadow: inset 0px 1px 0px 1px rgba(255,255,255,0.3);

  h2 {
    font-family: $h-font;
    color: #222;
    width: $content-width;
    max-width: $content-max-width;
    font-size: 40px;
    margin: 0;
    margin-left: 2%;
    text-align: left;
    text-shadow: 0px 2px 2px #fff;
  }

  .download-button {
    @include button(simple, #c63429);
    // background: #c63429;
    // border-color: #c63429;
    // box-shadow: none;
    font-size: 15px;
  }

}


.installation, .more-info {
  // border: 1px #C9918D solid;
  margin-right: 2%;
  margin-top: 60px;
  padding: 15px;
  border-radius: 5px;
  background: #E7CBC5;
  padding-top: 1px;
  background: #FFF;
  border: 2px #E7CBC5 solid;

  h3 {
    font-family: $h-font;
    font-size:22px;
    i {
      color: #E7CBC5;
      font-size: 22px;
    }
  }

  p, ol, ul {
    font-family: $p-font;
    font-size: 14px;
    line-height: 19px;
  }

  li {
    margin-bottom: 15px;
  }

  img {
    vertical-align: bottom;
  }
}

.more-info {
  margin-top: 20px;
}

.code-editor-container {
  position: absolute;
  top: -25px;
  width: $code-editor-width;
  max-width: $code-editor-max-width;
  right: 0;
  overflow: hidden;
  padding: 45px;
  padding-bottom: 70px;
  padding-right: 0;
  // margin-left: -180px;
}

.code-editor {
  // position: absolute;
  // top:0;
  // left: 0;

  display: block;
  // width: calc(100% + 60px);
  // margin-right: -60px;
  width: 102%;
  // float: right;


  // top: -160px;
  // float: right;

  // background: transparent;
  // border: 1px rgba(0,0,0,0.14) solid;
  border-radius: 5px;
  box-shadow: 0px 8px 45px 0px rgba(0,0,0,0.20), 0px 24px 45px 0px rgba(0,0,0,0.50);
  // right: -20px;

  .toolbar {
    height: 24px;
    width: 100%;
    position: relative;
    @include background-image(linear-gradient(#EBEBEB, #D5D5D5));
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    // box-shadow: 0px 1px 0px 0px #696969, inset 0px -1px 0px 0px rgba(255,255,255,0.08), inset 0px 1px 0px 0px rgba(0,0,0,0.15), inset 1px 0px 0px 0px rgba(0,0,0,0.15), inset -1px 0px 0px 0px rgba(0,0,0,0.15);
    border-top: 1px #F4F4F4 solid;
    border-bottom: 1px #B4B4B4 solid;
    font-family: $p-font;
    font-size: 13px;
    color: #404040;
    line-height: 20px;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.50);
    text-align: center;
    position: relative;

    .sub-title {
      color: #888;
    }

    .close, .minimize, .zoom {

      position: absolute;
      top: 5px;
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background: #FF3B47;
      text-indent: -9999px;
      border: 1px #F21A2E solid;
    }

    .close {
      left: 8px;
      @include background(radial-gradient(#FF3B47,  #FF4A53));
      border-color: #E81328;
    }

    .minimize {
      left: 28px;
      @include background(radial-gradient(#FFBD00, #FFC400));
      border-color: #E69E12;
    }

    .zoom {
      left: 48px;
      @include background(radial-gradient(#00D640, #00DA43));
      border-color: #12B728;
    }


    select {
      // position: absolute;
      // right: 5px;
      // top: 5px;
      // font-size: 10px;
    }

    .plunkr {
      position: absolute;
      right: 16px;
      top: 0;

      a {
        font-size: 11px;
        color: #555;
        padding: 2px 6px;
        border-radius: 5px;
        font-weight: normal;
        text-transform: uppercase;
      }

      button {
        height: 19px;
        line-height: 14px;
        font-size: 12px;
        background: #aaa;
        border: 0;
        border-radius: 9px;
        color: black;
        padding: 0 11px;
      }
    }
  }

  .editor {
    background: #494f57;
    position: relative;
    // height: 300px;
    overflow: hidden;

    a {
      color: #222;
    }

    pre {
      margin: 0;
      color: rgba(255,255,255,0.9);
      padding: 5px 20px 10px 15px;
      &.hide {
        display: none;
      }
    }
    code {
      font-size: 15px;
    }

  }


  section {
    position: relative;
    // display: inline-block;
    width: 100%;
    padding: 0 30px 0 20px;
    margin: 0;
    margin-left: -30px;
    @include box-sizing(content-box);
    border-bottom: 1px transparent solid;
    border-top: 1px transparent solid;

    &.active, &:hover {
      background: rgba(255, 255, 255, 0.15);
      border-bottom-color: rgba(255, 255, 255, 0.25);
      border-top-color: rgba(255, 255, 255, 0.25);

      .code-tip {
        @include animation-name(popIn);
        @include animation-duration(0.5s);
        @include animation-fill-mode(forwards);
        @include animation-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.275));
      }
    }

  }

  .code-tips {
    width: 60%;
    height: 100%;
    position: absolute;
    background: rgba(255,255,255,0.2);
    top:0;
    right:0;
    border-left: 2px rgba(255,255,255,0.4) solid;

    &:hover {
      background: rgba(255,255,255,0.5);
      border-color: rgba(255,255,255,0.7);
    }
  }
}

.features {
  display: inline-block;
  width: $content-width;
  max-width: $content-max-width;
  vertical-align: top;
  margin: 0;
  list-style: none;
  margin-top: 20px;
  font-size: 16px;
  font-family: helvetica;
  padding: 0;
  margin-left:2%;

  h3 {
      font-family: $h-font;
      font-size:22px;

      i {
        color: rgba(0,0,0,0.25);
      }
  }

  p {
    font-family: $p-font;
    font-size: 14px;
    line-height: 20px;
  }

  hr {
    border-color: rgba(0,0,0,0.25)
  }


  li {
    padding: 15px 20px;
    padding-left: 35px;
    border: 1px transparent solid;
    border-radius: 3px;
    &.active {
      border-color: #fff;
      background: rgba(255, 255, 255, 0.4);
    }
  }
}

.code-tip {
  position: absolute;
  right: 25px;


  height: 100%;
  top: 0;



  opacity: 0;

  // @include display-box;
  // @include box-align(center);
  // @include box-pack(center);

  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  z-index: 99;

  // @include animation-name(popOut);
  // @include animation-duration(0.5s);
  // @include animation-fill-mode(forwards);
  // @include animation-timing-function(cubic-bezier(0.175, 0.885, 0.32, 1.275));

  div {
    font-family: $p-font;
    font-size: 13px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.95);
    color: rgb(51, 51, 51);
    border-right: 2px rgb(255, 255, 255) solid;
    max-width: 310px;
    white-space: normal;
    border-radius: 3px;
    // border-top-left-radius: 2px;
    // border-bottom-left-radius: 2px;

    border-right: 2px rgb(204, 204, 204) solid;
    border-bottom: 1px rgb(204, 204, 204) solid;

    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px rgb(255, 255, 255);

    p {
      margin: 0.5em 0;
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      border-top: 11px solid rgba(0, 0, 0, 0);
      border-bottom: 11px solid rgba(0, 0, 0, 0);
      border-right: 11px solid rgba(255, 255, 255, 0.95);
      left: -11px;
      top: 0;
      top: calc(50% - 11px);
    }
  }

  code {
    font-size: 14px !important;
  }
}

table {
  border-color: rgba(0,0,0, 0.65);
  border-collapse: collapse;
  border-spacing: 0;
  margin: 15px 0;
  width: 100%;
  overflow: auto;
  display: block;
  font-size: 13px;
  border-radius: 5px;

  th {
    font-weight: bold;
  }

  th, td {
    border: 1px solid rgba(0,0,0, 0.1);
    padding: 6px 13px;
  }

  tr {
    border-top: 1px solid #ccc;
    background-color: rgba(255,255,255, 0.65);
  }
}

#plugin-list a {
  line-height: 22px;
  font-size: 15px;
}

footer {
  width: 90%;
  text-align: center;
  padding: 20px;
  font-size: 14px;

  .icons {
    padding-left: 5px;
    font-size: 20px;
    a {
      color: rgba(0,0,0,0.5);
      &:hover {
        color: #222;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  $content-width: 95%;
  $content-max-width: 680px;

  .code-editor {
    display: none;
  }

  body > header h1 {
    width: $content-width;
    max-width: $content-max-width;
    background-size: contain;
    margin: 0 auto;
  }

  .main-content {
    // margin: 0;

    h2 {
      font-size: 32px;
      width: $content-width;
      max-width: $content-max-width;
      margin: 0 auto;
    }
  }

  .code-editor-container {
    position: static;
    width: $content-width;
    max-width: $content-max-width;
    margin: 0;
    right: 0;
    margin-top: 20px;
    overflow: auto;
    padding: 0;
    padding-bottom: 0;
    padding-right: 0;
    margin: 0 auto;

    .installation, .more-info {
      margin: 0;
    }
    .installation {
      margin: 20px 0;
    }
  }

  .features {
    width: $content-width;
    max-width: $content-max-width;
    margin-top: 0;
    margin: 0 auto;
    display: block;
  }

  .hide-on-small-devices {
    display: none;
  }
}

// .coffeescript-code {
//   display: none;
// }


.browsehappy {
  z-index: 999;
  position: relative;
  background: #fff;
  padding: 2em;
}

div.hide-this {
  display: none;
}

@import 'beta';
@import 'changelog';

@import 'icon-font';
